html {
  background-color: #160808 !important;
  color: inherit;
}

.thumb-img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15) !important;
  border-color: #3E3E3E !important;
  border-width: 3px !important;
}

#loupeContainer div.background {
  background-color: #160808 !important;
  color: inherit;
}

header div.background {
  background-color: #160808 !important;
  color: inherit;
}

.custom-colorable {
  fill: #A0A0A0 !important;
}

body {
  background-color: #160808 !important;
  color: #828282 !important;
}
